### Data Explore Exercises

Do your work for this exercise in a file named `explore`.

In [1]:
import re
import unicodedata
import pandas as pd
import nltk

1. Spam Data

    a. Load the spam data set.
    
    b. Create and explore bigrams for the spam data. Visualize them with a word cloud. How do they compare with the ham bigrams?
    
    c. Is there any overlap in the bigrams for the spam data and the ham data?
    
    d. Create and explore with trigrams (i.e. a n-gram with an n of 3) for both the spam and ham data.

In [2]:
df = pd.read_csv('spam_clean.csv')
df.head()

  label                                               text
0   ham  Go until jurong point, crazy.. Available only ...
1   ham                      Ok lar... Joking wif u oni...
2  spam  Free entry in 2 a wkly comp to win FA Cup fina...
3   ham  U dun say so early hor... U c already then say...
4   ham  Nah I don't think he goes to usf, he lives aro...

2. Explore the blog articles using the techniques discussed in the exploration lesson.

3. Explore the news articles using the techniques discussed in the exploration lesson. Use the `category` variable when exploring.